<!doctype html>
<html lang="en" ng-app="BLOG">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='stylesheet/navbar.css'/>
	<link rel='stylesheet' href='resources/components/bootstrap/docs/assets/css/bootstrap.css'
</head>

<body>

<ul id='navbar'>
	<li> <a href="/">Home</a> </li>
	<li> <a href="/#/about"> About</a></li>
	<li id="post"> <a href="/#/post"> New Post </a> </li>
</ul>

<div ng-view></div>
	<script src="resources/js/property.js"></script>
	<script src="resources/components/angular/angular.min.js"></script>
	<script src="resources/components/jquery/jquery.min.js"></script>
	<script src="resources/js/router.js"></script>
	<script src="resources/js/controller.js"></script>
</body>
</html>