h3 About Me

img(class='thumbnail pull-right small', ng-src='{{me.pictureUrl}}')
h2 {{me.name}}
p {{me.age}}
p(ng-bind-html-unsafe='me.description')
a(href="/#/about/edit", class="top-margin btn btn-Secondary pull-left") Edit Info
script(type='IN/MemberProfile', data-id='http://www.linkedin.com/pub/kevin-yuen/1b/2a5/877', data-format='hover')
