span(class='large-font') {{portfolioItem.title}}

p(class='top-margin post-body', ng-bind-html-unsafe="portfolioItem.description")

hr

div(id="disqus_thread")

noscript
	| Please enable JavaScript to view the
	a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
a.dsq-brlink(href='http://disqus.com')
	| comments powered by
	span.logo-disqus Disqus
