ul(id='posts-list')
	li(ng-repeat='post in posts')
		a(href='/#/post/{{post._id}}') 
			p(class='large text-left') {{post.title}}
		p(class="text-right") {{post.date}}
		p(class="text-right") {{post.author}}

		p(ng-bind-html-unsafe="post.body")