form(name='add-form', data-ng-submit='addPost()')
	p Title:
	input(type='text', data-ng-model='title', id='title', required)
	p Body:
	textarea(placeholder="Enter text ...", id='body', required) 
	br
	button(type='submit', class='btn btn-primary', id='post-button') Post