ul(id='posts-list')
	li(ng-repeat='post in posts')
		a(href='/#/post/{{post._id}}/{{post.title}}') 
			span(class='large-font') {{post.title}}
		div(class="pull-right")
			span {{post.date}}
			br
			span(class='pull-right') {{post.author}}

		p(class='top-margin post-body', ng-bind-html-unsafe="post.body")
		br
		ul(class='pull-right')
			button(class='edit-btn btn btn-danger btn-mini', ng-click="DeletePost($event, post._id)") Delete
			a(class='edit-btn btn btn-mini btn btn btn-primary', href='/#/post/{{post._id}}/{{post.name}}/edit') Edit
		br
		hr