#content{
	padding-top: 65px;
}

#post{
	float: right;
}

#body, #description{
	height: 400px;
	width: 80%
}

#posts-list, #portfolio-list{
	list-style-type: none;
	padding:0;
	margin:0;
}

.large-font{
	font-size: 25px;
}

.top-margin{
	margin-top: 10px;
}

.radio-buttons{
	margin-right:200px;
	margin-top:30px;
}