#content{
	padding-top: 65px;
}

#post{
	float: right;
}

#body, #description{
	height: 400px;
	width: 80%
}

#posts-list, #portfolio-list{
	list-style-type: none;
	padding:0;
	margin:0;
}

.large-font{
	font-size: 25px;
}

.top-margin{
	margin-top: 10px;
}

.radio-buttons{
	margin-right:200px;
	margin-top:30px;
}

#disqus_thread{
	margin-top: 50px;
}

.left-margin{
	margin-left: 10px;
}

.twitter-button{
	margin-top: 20px;
}
.plugins{
	margin-right: 30px;
	display:inline;
}

#plugin-btns{
	margin-top: 10px;
	margin-left: 30px;
	display:inline;
	list-style-type: none;

}

.edit-btn{
	margin-left: 10px;
}