#content{
	padding-top: 65px;
}

#post{
	float: right;
}

#body, #description{
	height: 400px;
	width: 80%
}

#posts-list{
	list-style-type: none;
}

.large-font{
	font-size: 25px;
}

.top-margin{
	margin-top: 10px;
}
