#content{
	padding-top: 65px;
}

#post{
	float: right;
}

#body, #description{
	height: 400px;
	width: 80%;
}

#posts-list, #portfolio-list{
	list-style-type: none;
	padding:0;
	margin:0;
}

.large-font{
	font-size: 25px;
}

.top-margin{
	margin-top: 10px;
}

.post-body{
	width: 85%;
}

.radio-buttons{
	margin-right:200px;
	margin-top:30px;
}

#disqus_thread{
	margin-top: 50px;
}

.left-margin{
	margin-left: 10px;
}

.plugins{
	margin-top: 10px;
	margin-right: 30px;
	display:inline;
	width:30px;
	height:30px;
}

#plugin-btns li{
	display:inline;
}

#plugin-btns{
	margin-left: auto;
	margin-right:auto;
	width:100%;
	list-style-type: none;
	margin-bottom:10px;

}

.edit-btn{
	margin-left: 10px;
}

#about-text{
	width:60%;
}