extends layout

block body
	div
		div(class='navbar navbar-inverse navbar-fixed-top')
			div(class='navbar-inner')
				div(class='container')
					button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="brand", href="/#/post") Kevin Yuen
					div(class='nav-collapse')
						ul(class='nav')
							li
								a(href='/#/post') Home
							li 
								a(href='/#/about') About
							li 
								a(href='/#/portfolio') Portfolio
							li(class="dropdown")
								a(class="dropdown-toggle", data-toggle="dropdown",href="#") Edit
									b(class="caret")
								ul(class="dropdown-menu")
									li
										a(href='/#/post/create') Create
									li 
										a(href="/#/about/edit") Edit About

	div(class='container', id='content', ng-view)
	div(angular-modal)

	script(type='text/javascript')
		window.disqus_shortname = "dinocowblog";

	script(src='resources/components/jquery/jquery-1.10.2.min.js')
	script(src='resources/components/angular/angular.min.js')
	script(src='resources/js/property.js')
	script(src='resources/js/ng-infinite-scroll.min.js')
	script(src='resources/js/router.js')
	script(src='resources/js/jquery.truncate.js')
	script(src='resources/js/AboutController.js')
	script(src='resources/js/PortfolioController.js')
	script(src='resources/js/PostController.js')
	script(src='/resources/js/angular-modal.js')
	script(src="/resources/components/bootstrap/docs/assets/js/bootstrap.min.js")
	script(src="/resources/components/bootstrap/docs/assets/js/bootstrap-dropdown.js")
	script(src="/resources/components/bootstrap/js/bootstrap-dropdown.js")
	script(src="/resources/components/bootstrap/js/wysihtml5-0.3.0_rc2.min.js")
	script(src="/resources/components/bootstrap/js/bootstrap-wysihtml5-0.0.2.js")

