!!!
html(ng-app="BLOG")
  head
    meta(charset='utf8')
    base(href='/')
    title Kevin's Blog
    link(rel='stylesheet', href='/resources/components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheet/index.css')
    link(rel='stylesheet', href="/resources/components/bootstrap/docs/assets/css/bootstrap-wysihtml5-0.0.2.css")
  body
    block body