form(name='edit-form', data-ng-submit='saveInfo()')
	p Title:
	input(type='text', data-ng-model='name', id='name', required)
	p Description:
	textarea( id='description', required) 
	br
	button(type='submit', class='btn btn-primary', id='editInfo-button') Edit